*{
	margin:0;
	padding:0;
	border: 0px solid #000000;	
	text-decoration: none;
}

header, section, footer, aside, nav, article, figure, figcaption{
	display: block;
}

body{
	font: 2vw verdana, sans-serif;	
	text-align:center;
}

h1 {
	font-size:100%;
}
h2 {
	font-size:115%;
}
h3 {
	font-size:115%;
}
h4 {
	font-size:100%;
}
h5 {
	font-size:100%;
}
h6 {
	font-size:100%;
}
p{
	text-align:left;
}



#principal {
	margin:1%;
	background:url('prueba1.png');
	border: 1px solid #000000;
}

#pie {
	display:block;
	clear:both;
	padding: 20px;
	border-top: 2px solid #999999;
	font-size: 50%;
}

#header_form{
    padding:1%;  
	font-size: 75%;
 } 

#footer_form{
	font-size: 60%;
	display:block;
	clear:both;
}
#footer_form_error{
	font-size: 80%;
	color:red;
}

#men{
	margin: 0px 0px;
	border: 0px solid #000000;
	background: rgb(200,200,200,.5);
	padding:0px;
	margin-left: 400px;
 }
 #men ul{
	 margin: 0px;
	 text-align:left;
 }

  
 #men li{
	 display: inline-grid;
	 list-style:none;
	 padding:5px;
	 font-size:50%;
 }

  #menu ul{
	 margin: 0px;
	 text-align:left;
 }
 #menu{
	margin: 0px 0px;
	border: 0px solid #000000;
	background: rgb(200,200,200,.5);
	padding:0px;
	margin-left: 600px;
 }


 
  
 #menu li{
	 display: inline-block;
	 list-style:none;
	 padding:5px;
	 font-size:70%;
 }
 


#menu li:last-child{
	 float:right;
 }
 #menu li:last-child a{
	 	 color:red;
 }
 #tabla1{
	
	border: 0px solid #000000;
	margin-left: 400px;
	
 }
  #tabla2{
	
	border: 0px solid #000000;
	margin-left: 700px;
	
 }
#seccion_autenticar {
	width: 100%;
	height:70vh;
}

#miformulario{
	margin:4% 20% 7% 15%;
}

.myField{
	margin: 2%;	
	text-align:left;
	font-size: 85%;
}
.myField label{
	width:40%;
	color:black;
	text-align:right;
	vertical-align:middle;
	padding:1%;
	display:inline-block;
}


.myField input:not(.formButton){
		border: 1px solid #000000;
		font-size: 80%;
		padding:.5%;
}

.myField a{
		font-size: 60%;
}
.myField select{
		padding:.5%;
		border: 1px solid #000000;
		font-size: 70%;
}
.myField:last-child{
	margin:1%;
}
.formButton{
	margin: 0%;
	padding:1%;
	font-size: 60%;
	width: 10%;
}
table,td {
   border: 1px solid black;
   padding:5px;
   font-size: 80%;
   text-align:left;
}

#tabla{
	margin-top: 0px;
	margin-left: 300px;
	
	border-collapse: collapse;
	width:60%;
 } 
#tabla td:nth-child(1){
	width:30%;
 }
#tabla td:nth-child(2){
	width:30%;
 }
#tabla td:nth-child(3){
	width:30%;
 }
tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:hover {
	background-color: #d500d5;
	}
thead{
	background-color: #999999; 
	text-align:center;
	}
#seccion {
	width: 90%;
	padding:2%;
}
#foto{
	margin-left: 250px;
	border: 1px solid #0000ff;
	display:block;
	float:left;
	width:25%;
	font-size: 70%;
}
#foto img{
	width:100%;
}
#datos{

	float:left;	
	width:55%;
}













